.regis_panle{
    position: absolute;
    top: 20%;
    right: 10%;
    box-shadow: 1px 2px 15px 5px #004afe;
    padding: 20px;
    width: 450px;
    height: 350px;
}
.el-input.regis_item {
    margin: 10px 0;
}
.regis_btn{
    text-align: center;
    margin: 10px 0;
    width: 100%;
}
