<div class="header">
    <div class="header_logo" (click)="homeHandle()">
        <img src="../../../assets/img/favs.png" alt="">
    </div>
    <div class="header_menu">
        <div class="header_item" *ngFor="let item of headers"
        (click)="itemHandle(item)">{{item.menu}}</div>
    </div>
    <div class="user_set">
        <el-dropdown [model]="settings" (selected)="dropEvent($event)">
            <span class="set_label">
                下拉菜单
            </span>
            <span class="set_bot_icon el-icon--right">
                <i class="el-icon-caret-bottom"></i>
            </span>
        </el-dropdown>
    </div>
</div>
