<div class="setting_box">
    <!-- <app-header #myheader></app-header> -->
    <!-- <h1>设置</h1> -->
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            邮箱:
        </div>
        <input type="text" #box
        placeholder="请输入邮箱地址"
        class="el-input__inner"
        (keyup.enter)="forms.email=box.value"
        (blur)="forms.email=box.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            昵称:
        </div>
        <input type="text" #boxa
        placeholder="请输入昵称"
        class="el-input__inner"
        (keyup.enter)="forms.a=boxa.value"
        (blur)="forms.a=boxa.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            个人特长:
        </div>
        <input type="text" #boxb
        placeholder="请输入个人特长"
        class="el-input__inner"
        (keyup.enter)="forms.b=boxb.value"
        (blur)="forms.b=boxb.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            邮政编码:
        </div>
        <input type="text" #boxc
        placeholder="请输入邮政编码"
        class="el-input__inner"
        (keyup.enter)="forms.c=boxc.value"
        (blur)="forms.c=boxc.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            工作单位:
        </div>
        <input type="text"#boxd
        placeholder="请输入工作单位名称"
        class="el-input__inner"
        (keyup.enter)="forms.d=boxd.value"
        (blur)="forms.d=boxd.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            现居地:
        </div>
        <input type="text"#boxe
        placeholder="请输入现居地地址"
        class="el-input__inner"
        (keyup.enter)="forms.e=boxe.value"
        (blur)="forms.e=boxe.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            毕业院校:
        </div>
        <input type="text"#boxf
        placeholder="请输入毕业院校名称"
        class="el-input__inner"
        (keyup.enter)="forms.f=boxf.value"
        (blur)="forms.f=boxf.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            QQ账号:
        </div>
        <input type="text"#boxg
        placeholder="请输入QQ账号"
        class="el-input__inner"
        (keyup.enter)="forms.g=boxg.value"
        (blur)="forms.g=boxg.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            户籍:
        </div>
        <input type="text"#boxh
        placeholder="请输入户籍地址"
        class="el-input__inner"
        (keyup.enter)="forms.h=boxh.value"
        (blur)="forms.h=boxh.value">
    </div>
    <div class="el-input el-input-group el-input-group--prepend set_item">
        <div class="el-input-group__prepend set_item_label">
            手机号码:
        </div>
        <input type="text"#boxi
        placeholder="请输入手机号码"
        class="el-input__inner"
        (keyup.enter)="forms.i=boxi.value"
        (blur)="forms.i=boxi.value">
    </div>
</div>