.msg_box{
    z-index: 2000;
    opacity: 1; 
    transform: translate3d(0px, 0px, 0px); 
    visibility: inherit;
    background-color:#0000007a;
}
.msg_box .el-dialog{
    width: 450px;
    top: 35%;
}
.msg_box .el-dialog__body {
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
}
.el-dialog{
    border-radius: 10px;
}